* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: aqua;
}
form {
  float: left;
  width: 100vw;
}

.label {
  font-size: x-large;
}

.baselayout {
  float: left;
  width: 100%;
  height: 100vh;
}
.layout {
  float: left;
  width: 50%;
  margin: 1%;
  border: 2px solid #000;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.elements {
  padding: 10px;
  font-size: larger;
}

.inputs {
  padding: 5px;
  width: 90%;
  margin: 1% 3%;
}

.radioelements {
  margin: 1%;
}
.submitdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitbutton {
  padding: 5px;
  border: 2px solid #000;
  border-radius: 3%;
  cursor: pointer;
  background-color: aqua;
  color: #000;
}

.submitbutton:hover {
  background-color: rgb(180, 100, 100);
}

.list {
  width: 45%;
  margin: 1% 0;
  float: left;
  background-color: antiquewhite;
  height: 90%;
  border: 1px solid #000;
  overflow-y: scroll;
}

.headers {
  font-size: medium;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aqua;
  text-align: center;
  padding: 6px;
}
ul {
  list-style: none;
}

.accordion_head {
  padding: 5px;
  background-color: aqua;
  cursor: pointer;
}

.accordion_content {
  float: left;
  width: 100%;
  display: none;
  background-color: antiquewhite;
}

.accordion_content_show {
  display: block;
}
